<div ng-cloak>
	
	<!-- <div flex>
		<h3 class="p-title p-title-no-margin">
			<span>All Photos</span>
		</h3>
	</div> -->


<!-- 
	<div class="text-center">
		<ul class="pagination pagination-lg">
			<li ng-click="backward()"><a >«</a></li>
			<li ng-class="{'active': selectedPage === $index}"" ng-click="setPage($index)" ng-repeat="page in photoPages"><a >{{$index + 1}}</a></li>
			<li ng-click="forward()"><a >»</a></li>
		</ul>
	</div> -->

	<div ng-repeat="page in photoPages" ng-if="selectedPage === $index">
		<div class="ui-69">
			<div layout="row" layout-wrap layout-padding>
				<div flex="20" ng-repeat="photo in page">
					<single-photo photo="photo" ng-click="openGallery($index)"></single-photo>
				</div>
			</div>
		</div> 
	</div>


	<div class="text-center">
		<ul class="pagination pagination-lg">
			<li><a ng-click="forward()">«</a></li>
			<li ng-class="{'active': selectedPage === $index}"" ng-click="setPage($index)" ng-repeat="page in photoPages"><a >{{$index + 1}}</a></li>
			<li><a ng-click="backward()">»</a></li>
		</ul>
	</div>
	<div ng-if="showGallery">
		<photo-gallery></photo-gallery>
	</div>


</div>

<!-- 
<div>

  <div layout="row" layout-wrap>

    <div flex="33" flex-sm="50" flex-xs="100" flex-md="33" flex-lg="25" ng-repeat="photo in photos">
      <single-photo photo="photo"></single-photo>
    </div>
   



  </div>

</div> -->