<div layout="row">
<div flex>
		<h3 class="p-title p-title-no-margin">
			<span>Albums</span>
		</h3>

	</div>
	<div flex="initial" class="zt-center">

		<md-button class="md-accent md-raised" ng-click="editAlbums = true">Edit</md-button>

	</div>
	<div flex="initial" class="zt-center">

		<md-button class="md-accent md-raised" ui-sref="newAlbum">New Album</md-button>

	</div>
</div>
<div layout="row" layout-align="end">
</div>


<div layout="row" layout-wrap>
	<div flex="33" flex-sm="50" flex-xs="100" flex-md="33" flex-lg="25" ng-repeat="album in albums">
		<album-card album="album"></album-card>
	</div>
</div>

<h2 ng-hide="editAlbums">Hellloooo</h2>

<!-- <div layout="row" layout-align="center">
	<md-button class="md-primary md-raised" ng-click="createAlbum()">Create New</md-button>
</div> -->

