<div layout="row" layout-padding ng-cloak layout-align="center" >
  <md-content flex="75" md-whiteframe="4dp">
    <div flex>
      <h3 class="p-title p-title-no-margin">
      <span>Edit {{album.title}}</span>
      </h3>

    </div>
    <md-input-container layout="row" layout-padding>
      <div flex="initial" class="zt-center">
        <i class="fa fa-tag fa-2x" aria-hidden="true"></i>
      </div>
      <div flex>
        <input ng-model="album.title" type="text" ng-required="true">
      </div>
    </md-input-container>
    <md-input-container layout="row" layout-padding>
      <div flex="initial" class="zt-center">
        <i class="fa fa-hashtag fa-2x" aria-hidden="true"></i>
      </div>
      <div flex>
        Photo Count:
        <input ng-model="album.photos.length" type="text" >
      </div>
    </md-input-container>
    <md-input-container layout="row" layout-padding>
      <div flex="initial" class="zt-center">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
      </div>
      <div flex>
        <md-button class="md-primary md-raised" ng-click="addPhotos()">Add Photos</md-button>
      </div>
    </md-input-container>
  </md-content>
</div>




<!-- <div ng-show="selectingPictures">
  <div layout="row" layout-wrap>
    <div flex="20" class="ui-item" ng-click="addToAlbum(photo)" ng-repeat="photo in photos">
      <img ng-src="{{photo.thumbSrc}}" alt="" class="img-responsive" />

    </div>

  </div>
</div> -->

<div class="ui-69" ng-show="selectingPictures">
        <div layout="row" layout-wrap layout-margin>
          <div flex="20" ng-repeat="photo in photos">
            <!-- Item -->
            <single-photo photo="photo"></single-photo>
          </div>
      
        </div>
    </div>



